<html>
    <head>
        <title>
            Error 404!! not found
        </title>
      <style>
          #contentDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
          }
          #errorDes{
              font-size: x-large;
          }
          #errorHeader{
            font-size: 300%;
          }
      </style>
    </head>
    <body>
        <div id="contentDiv">
            <div style="float: left;" >
            <h1 id="errorHeader">Oops!! </h1>
            <p id="errorDes">
                the page you're looking for does not exist
                <br>
                Error: 404
            </p>
            </div>
            <img  src="C:\xampp\htdocs\blog\view\images\cryingmeme.jpg"/>
        </div>
    </body>
</html>