<div class="col-10 mt-5 row p-4 subject-color roundCorner">
    <div class="col-8">	
          <h4><a href="controller/subjectController.php?id={{ID}}&subjectAction=getSubject">{{Title}}</a></h4>
          <p>{{Description}}</p>
      </div>							
      <img class="col-4" src="{{mainPath}}view/images/programming.jpeg "width="250px" />
      <div class="row upBorder col-8 pt-2" >
          <p class="socialMedia col-3">{{DATE}} </p>
          <p class="socialMedia col-3"> by suhaib </p>
          <a href="" class="col-2 socialMedia">Tweet</a>
          <a href="" class="col-2 socialMedia">Share</a>
          <a href="" class="col-2 socialMedia">Views</a>
          <!-- <a href="{{mainPath}}controller/SubjectController.php?id={{ID}}&subjectAction=edit" class="col-1 socialMedia ">Edit</a> -->
      </div>
  </div>